<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D7A18D51F7E6BC400A64658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7A18E91F7E6BC500A64658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7A18F41F7E6BC500A64658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
